body {
  font-family: 'Fira Code', monospace;
  background-color: #634e46;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2,h4 {
    margin: 0;
    text-align: center;
    background: repeating-linear-gradient(
        to right,
        #ff5917 20%,
        #e65015 30%,
        #CC4712 70%        );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1000% auto;
}
@keyframes textShineLeft {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes textShineRight {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
h2 {
    font-size: 4rem;
    font-weight: bold;
}
h4 {
    font-size: 2rem;
    font-weight: bold;
}
.icon {
    color: white;
    font-size: 2rem;
    margin: 0;
}
a {
	display: block;
	width: 100%;
	text-align: center;
}
