body {
  font-family: 'Fira Code', monospace;
  background-color: #634e46;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2,h4 {
    background: repeating-linear-gradient(
        to bottom,
        #ff5917 20%,
        #e65015 30%,
        #CC4712 70%        );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: auto 1000%;
    animation: textShine 3.5s linear infinite;
}
@keyframes textShine {
    0% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 50% 100%;
    }
}1
